name: Build TV APK (v7a)
on:
  workflow_dispatch: # 允许手动触发构建

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive' # Kazumi 包含子模块，必须递归拉取 [1]

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Build armeabi-v7a APK
        run: flutter build apk --release --target-platform android-arm # 专门指定 arm v7 架构

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Kazumi-TV-v7a
          path: build/app/outputs/flutter-apk/app-release.apk
